@media screen and (max-width : 700px) {
    nav>img{
        height: 40%;
    }
    nav{
        gap: 0px;
        justify-content: space-between;
        padding: 0px 10px;
    }
    nav img:nth-child(5){
        height: 30%;
    }
    nav>ul{
        display: none;
    }
    .hamburger-icon{
        display: block;
        height: 7vw;
    }
    .section--1 img{
        width: 90%;
    }
    .section--1{
        flex-direction: column-reverse;
        padding: 0px;
        padding-top: 100px;

    }
    .hamburger-icon-div{
        display: inline;
    }
    .section--1 h1{
        width: 80%;
        margin-top: 50px;
        font-size: 6.5vw;
        padding-left: 6px;
        
    }
    .section--2{
        padding: 20px 2px;
    }
    .card{
        gap: 50px;
    }
    .card img{
        width: 90%;
        height: 45vh;
    }
    .card div{
        width: 90%;
        margin: 0;
    }
    .card p{
        font-size: 1.8rem;
        margin-top: 10px;
    }

    
    .section--3 h1{
        font-size: 4rem;
        width: 100%;
        text-align: center;
    }
    .product{
        font-size: 1rem;
        flex-direction: column;
        height: auto;
    }
    .product p{
        width: 100%;
        font-size: 1.2rem;
    }
    .product h1{
        font-size: 3rem;
        margin-top: 20px;
    }

    .co-founders .container {
        flex-direction: column;
    }
    .co-founder{
        width: 100%;
    }
    .team{
        padding: 10px 30px;
    }
    .team h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .team h3{
        font-size: 1.5rem;
    }
    footer h1{
        width: 90%;
        text-align: center;
    }
    footer h3{
        width: 90%;
    }
    .section--4 h1{
        font-size: 4.5rem;
    }
    .about{
        padding: 0px 20px;
        text-align: center;
    }
    .about h2{
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }
    .about p{
        font-size: 1.2rem;
        width: 100%;
        text-align: start;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 50px;
    }

}